<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brain Tumor Detection System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🧠 Brain Tumor Detection System</h1>

        <p class="subtitle">
            AI-Based MRI Brain Tumor Classification using Convolutional Neural Networks (CNN)
        </p>

        <form action="/predict" method="POST" enctype="multipart/form-data">

            <input type="file" name="image" required>

            <br><br>

            <input type="submit" value="Predict Tumor">

        </form>

        {% if image %}

        <div class="image-section">

            <h2>Uploaded MRI Scan</h2>

            <img src="{{ url_for('uploaded_file', filename=image) }}" width="350">

        </div>

        {% endif %}

        {% if prediction %}

        <div class="result">

            <h2>Prediction Result</h2>

            <p>
                <strong>Tumor Type :</strong>
                <span class="prediction">{{ prediction.upper() }}</span>
            </p>

            <p>
                <strong>Confidence :</strong>
                <span class="confidence">{{ confidence }}%</span>
            </p>

        </div>

        {% endif %}

        <footer>

            <hr>

            <p><strong>Developed by</strong></p>

            <p><strong>Snehalatha Mekala</strong></p>

            <p>Artificial Intelligence & Machine Learning</p>

        </footer>

    </div>

</body>

</html>